{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="custom-card p-4 mr-auto ml-auto mt-4 mb-4" style="width: 500px">
        <h4 class="text-center" style="border-bottom: 1px solid lightgrey;">Contact Us</h4>
        <div style="border-bottom: 1px solid lightgrey;">
            <h6>Head Office</h6>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit at facilis blanditiis odio rerum! Minus voluptas porro fugiat omnis! Accusantium dolor quae natus nostrum accusamus adipisci veniam voluptate perspiciatis animi?
        </div>
    </div>
{% endblock content %}