<!-- Footer -->
<footer class="page-footer font-small teal pt-4 text-white bg-dark">

    <!-- Footer Text -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row ">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">VegMart</h5>
          <p>
            VegMart is a very trusted vegetable online marketing company, whose headquarters is kirlampudi, Andhra Pradesh
            we always concern about the quality of the products we deliver, by the way we are only the delivary partners of verified
            shops in your locality!

          </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">About the Developer</h5>
          <p>
            coder_bobby (chief developer of this site) is a student from jntuk kakinda, who is very passionate about coding
            and creating cool things, he is also a powerlifter, his hometown is kirlampudi 533431, Andhra Pradesh ,India(91+).
            <strong style="display: block;">His priority list =>  family > coding > gym > others</strong>
          </p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="{% url 'store:home' %}"> VegMart.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->