{%extends 'store/base.html' %}
{% block content %}
    <div class="card mt-4 mb-4 ml-auto mr-auto" style="max-width: 500px;" >
        <div class="card-header text-center bg-success text-white">
        Register Here
        </div>
        <div class="card-body">
        <h5 class="card-title">Start your journy with us!</h5>
        <form method="POST">
            {%csrf_token%}
        {{form}}
        <input type="submit" class="btn btn-primary form-control mt-4" value="Register">
        </form>
        </div>
    </div>
{% endblock content %}