{% extends 'store/base.html' %}
{%block content %}
<div   style="width:400px;" class="mt-4 mb-4 mr-auto ml-auto custom-card" >
<h4 class="text-center pt-4">Shop Discount Details </h4>
    <div class="d-flex justify-content-between align-items-center pr-4 pl-4 pt-4">
        <table class="table table-bordered text-center custom-card">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Field Name</th>
                <th scope="col">Field Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <th>Discount</th>
                <td> {{shop.discount}}%</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th>Limit Of Discount</th>
                <td>&#8377;{{shop.limit_of_discount}}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <th>Minimum Amount </th>
                <td colspan="2">&#8377;{{shop.minimum_amount}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div>
        <form action="." method="post" enctype="multipart/form-data">
            <div class="d-flex flex-wrap align-items-around p-3">
                {% csrf_token %}
                {{form}}
                <input type="submit" class="btn btn-success form-control ml-auto mr-auto" style="width: 98%; display:block;" value="Update Shop Discount">
            </div>
        </form>
    </div>
</div>
{%endblock content%}