{% extends 'store/base.html' %}
{% block content %}
<div class="card mb-4 mt-4 custom-card">
    <div class="card-header" style="background-color:#e3f2fd ;">
     Shop Products
    </div>
    <div class="card-body">
        {% if present %}
            {% for obj in products %}
            <div class="card card-2 mt-3 mb-3">
                <div class="card-body">
            <div class="media">
                <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" style="width: 135px; height:75px;" src="{{ obj.image.url }}" /></div>
                <div class="media-body my-auto text-right">
                    <div class="row my-auto flex-column flex-md-row">
                        <div class="col my-auto">
                            <h6 class="mb-0">{{ obj.name }}</h6>
                        </div>
                        <div class="col my-auto"> <small>{{obj.category.name }}</small></div>
                        <div class="col my-auto"> <small>Ref id : Rf-{{ obj.id }}</small></div>
                        <div class="col my-auto">
                            <h6 class="mb-0">&#8377;{{ obj.price }}</h6>
                        </div>
                        <div class="col my-auto">
                <a href="{{obj.get_product_edit_url }}" class="btn btn-outline-success">Edit Product</a>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            {% endfor %}
            {%else %}
            <p>There are no previous orders found!</p>
            {%endif %}
    </div>
  </div>
{% endblock content %}