{% extends 'store/base.html' %}
{%block content %}
<div class="card text-center mt-4 custom-card">
    <div class="card-header bg-success text-white">
      Shop Onwer Dashboard
    </div>
    <div class="card-body">
      <h3 class="card-title">{{obj}}</h3>
      <div class="d-flex justify-content-around flex-wrap">
            <table class="table table-bordered text-center custom-card">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Field Name</th>
                    <th scope="col">Field Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Active Orders</th>
                    <td>{{user.shopowner.shop.get_active_orders }}</td>
                  </tr>
                  <tr>
                    <th>Delivered Orders</th>
                    <td>{{user.shopowner.shop.get_delivered_orders}}</td>
                  </tr>
                  <tr>
                    <th>Total Orders</th>
                    <td colspan="2">{{user.shopowner.shop.get_total_orders}}</td>
                  </tr>
                  <tr>
                    <tr>
                      <th>Total products</th>
                      <td>{{user.shopowner.shop.get_products_count }}</td>
                    </tr>
                    <th>Shop id</th>
                    <td colspan="2">ref-id-{{ user.shopowner.shop.id }}</td>
                  </tr>
                </tbody>
            </table>
          <!-- Rating Card Start -->
          <div class="card bg-light mb-3 mt-3" style="width: 20rem;">
            <div class="card-header bg-secondary text-white">Shop Details</div>
            <div class="card-body">
                <ul class="list-group">
                    {% if user.shopowner.shop.shop_rating_count == 0 %}
                    <li class="list-group-item">Rating: No One Rated</li>
                    {%else%}
                    <li class="list-group-item">Rating: {{user.shopowner.shop.shop_rating|floatformat:1 }} <i class="fa fa-star" style="color:gold;"></i> </li>
                    {%endif %}
                    {% if user.shopowner.shop.discount == 0 %}
                    <li class="list-group-item">Discount: <i class="fas fa-exclamation-triangle" style="color:orange"></i> No Discount</li>
                    {%else%}
                    <li class="list-group-item">Discount: <i class="fa fa-fire" style="color:red"></i> {{user.shopowner.shop.discount}}% Off</li>
                    {%endif %}
                    <li class="list-group-item">Discount Limit: {{user.shopowner.shop.limit_of_discount }}</li>
                    <li class="list-group-item">Minimum Amount: {{user.shopowner.shop.minimum_amount  }}</li>
                </ul>
            </div>
          </div>
          <!-- Rating Card End-->
          <div class="card bg-light mb-3 mt-3 custom-card" style="width: 20rem;">
            <div class="card-header bg-secondary text-white">Delivery boy Address</div>
            <div class="card-body">
              <h5 class="card-title">Delivery boy Address</h5>
              <br>
              <p class="card-text">{{ user.shopowner.shop.address.get_address }}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="card mb-4 mt-4 custom-card">
    <div class="card-header" style="background-color:#e3f2fd ;">
      Active Orders
    </div>
    <div class="card-body">
        {% if active %}
            {% for obj in orders %}
            <div class="card card-2 mt-3 mb-3">
                <div class="card-body">
            <div class="media">
                <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" style="width: 135px; height:75px;" src="{{ obj.order.shop.image.url }}" /></div>
                <div class="media-body my-auto text-right">
                    <div class="row my-auto flex-column flex-md-row">
                        <div class="col my-auto">
                            <h6 class="mb-0">{{ obj.order.shop.name }}</h6>
                        </div>
                        <div class="col my-auto"> <small>{{obj.date_shipped }}</small></div>
                        <div class="col my-auto"> <small>Ref id : Rf-{{ obj.id }}</small></div>
                        <div class="col my-auto">
                            <h6 class="mb-0">&#8377;{{ obj.order.get_final_amount }}</h6>
                        </div>
                        <div class="col my-auto">
                <a href="{{obj.get_absolute_url }}" class="btn btn-outline-success">View Order Details</a>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            {% endfor %}
            {%else %}
            <p>There are no active orders found!</p>
            {%endif %}
    </div>
  </div>
{% endblock content %}